<div id="adminlayoutcontainer">
	<div class="row" id="headbar">
		<div class="col-md-6">
			<h2>Protobill</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3" id="sidebar">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="!/admin/clients">Clients</a></li>
				<li><a href="!/admin/orders">Orders</a></li>
				<li><a href="!/admin/billing">Billing</a></li>
				<li><a href="!/admin/setup">Setup</a></li>
			</ul>
		</div>
		<div id="subpage" class="col-md-9">
			
		</div>
	</div>
</div>