<div id="signupform" class="pagecontainer js-center" data-width="400">
  <div class="container-header">
    <h3>Login to Protobill Admin</h3>
  </div>
  <div class="container-body">
    <div class="js-error"></div>
    <form action="<%- window.baseurl %>api/auth/session" method="POST">
      <div class="form-group">
        <label for="emailaddress">Email address</label>
        <input type="email" class="form-control" placeholder="Email" name="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password">
      </div>
      <div class="row">
        <button type="submit" class="btn btn-primary level-block" style="width:100%">Login</button>
      </div>
    </form>
  </div>
</div>