<div class="row">
	<div class="col-md-3">
		<div class="panel">
			<h2>Roles</h2>
			<ul id="js-roles">
				
			</ul>
			<button class="btn btn-default" id="js-addrole">Add New Role</button>
		</div>
	</div>
	<div class="col-md-9">
		<div class="panel">
			<h2>Role: None</h2>
			<div class="fuzzysearch">
				<input type="text" id="js-fuzzybox" class="form-control">
				<ul id="js-fuzzysearch">
					<li>permissions_manage: <b>Manage <span>Perm</span>issions</b></li>
					<li>permissions_view: <b>View <span>Perm</span>issions</b></li>
				</ul>
			</div>
			<ul id="js-rolepermissions" class="fuzzyresults">
				<li>permissions_manage: <b>Manage <span>Perm</span>issions</b></li>
				<li>permissions_view: <b>View <span>Perm</span>issions</b></li>
			</ul>
		</div>
	</div>
</div>