
@import "../../node_modules/twitter-bootstrap-3.0.0/less/variables.less";
@import "support/variables.less";
@import "support/animations.less";
@import "../../node_modules/twitter-bootstrap-3.0.0/less/mixins.less";

body {
	background: url('../img/adminbackground.jpg');
}

@content-box-ds: 0 20px 100px rgba(0, 0, 0, 0.5);

.js-center {
	top: 50%;
	left: 50%;
	position: absolute;
}

.pagecontainer {
	width: 90%;
	max-width: 1120px;

	.container-body {
		background: #fff;
		padding: 10px 20px;
		box-shadow: @content-box-ds;
		border-radius: 0 0 @border-radius-base @border-radius-base;
		position: relative;
	}

	.container-header {
		background: @brand-primary;
		color: #fff;
		padding: 10px 20px;
		border-radius: @border-radius-base @border-radius-base 0 0;

		h3 {
			font-weight: 200;
			font-size: 1.5em;
			margin:0;
		}
	}
}


.js-loading {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background: url('../img/loading.gif') center center no-repeat #fff;
	opacity: 0.5;
	cursor: progress;
}

#adminlayoutcontainer {
	margin: 0 20px;
	background: #eee;
	padding: 0 15px;
	box-shadow: @content-box-ds;
}

#headbar {
	background: #fff;
	color: #aaa;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);

	h2 {
		font-weight: 100;
		margin: 0;
		line-height: 48px;
		color: #999;
	}
}

@sidebar-background: #222f40;

#sidebar {

	z-index: 10;
	position: relative;

	a {
		color: #b2bbc5;
	}

	> ul { 
		margin: 10px 0 10px 0;
		padding: 0;
	}

	> ul > li {
	
		background: @sidebar-background;
		.transition(0.2s);
		border-radius: @border-radius-large;
		margin: 10px 0;
		position: relative;
		list-style-type: none;

		&:hover, &.active {
			.transition(0.2s);
			background: @nav-link-hover-bg;
			border-radius: @border-radius-large;
		}
		
		&.active:after {
			content: "\f078";
			display: block;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			position: absolute;
			top: 0;
			right: 20px;
			color: #b2bbc5;
			line-height: 38px;
		}

		a {
			padding: 9px 15px;
			display: block;

			&:hover {
				color: #fff;
				text-decoration:none;
				cursor:pointer;
			}
		}

		ul {
			display: none;
			padding: 0px;
		}
	}
}
.row {
	position: relative;
}
#sidebar-color {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	background: @sidebar-background;
}

.panel {
	padding: 20px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

	> div:last-child {
		margin-bottom: 0px;
	}

	> h2:first-child {
		margin-top: -15px;
		font-weight: 200;
		border-bottom: 1px solid #eee;
	}

	&:hover {
		transition: 0.5s;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	}
}

#subpage {
	padding: 20px;
}
.fuzzysearch {
	background: #ededed;
	padding: 4px;

	input {
		width: 100%;
		padding: 4px;
		font-size: 1.2em;
	}
	li {
		list-style-type: none;
		margin: 0;
		padding: 10px;
		font-size: 1.4em;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		color: #666;
		cursor: pointer;

		b {
			color: #333;
			font-weight: normal;
		}
		span {
			color: @brand-primary;
		}
		&:hover {
			background: @brand-primary;
			color: #fff;

			b {
				color: #fff;
			}
			span {
				color: #fff;
			}
		}

		&:first-child {
			border-top: none;
		}
		&:last-child {
			border-bottom: none;
		}
	}
	ul {
		padding: 0px;
		margin: 0px;
	}
}

.fuzzyresults {

	padding: 0px;
	margin: 0px;

	li {
		list-style-type: none;
		margin: 0;
		padding: 10px;
		font-size: 1.4em;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		color: #999;
		cursor: pointer;

		b {
			color: #666;
			font-weight: normal;
		}

		&:hover {
			color: #333;

			b {
				color: #333;
			}
		}

		&:last-child {
			border-bottom: none;
		}
	}
}

#dialog-backdrop {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 0 256px rgba(0, 0, 0, 0.8);

	-webkit-animation: fadein 0.5s;
	-moz-animation: fadein 0.5s;
	-ms-animation: fadein 0.5s;
	animation: fadein 0.5s;

	#dialog-content {
		width: 400px;
	}
}
.close.for-panel {
	margin-right: 5px;
}