
@import "../../node_modules/twitter-bootstrap-3.0.0/less/variables.less";
@import "support/variables.less";
@import "../../node_modules/twitter-bootstrap-3.0.0/less/mixins.less";

body {
	background: url('../img/adminbackground.jpg');
}

@content-box-ds: 0 20px 100px rgba(0, 0, 0, 0.5);

.pagecontainer {
	top: 50%;
	left: 50%;
	position: fixed;
	width: 90%;
	max-width: 1120px;

	.container-body {
		background: #fff;
		padding: 10px 20px;
		box-shadow: @content-box-ds;
		border-radius: 0 0 @border-radius-base @border-radius-base;
		position: relative;

		.js-loading {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 100;
			background: url('../img/loading.gif') center center no-repeat #fff;
			opacity: 0.5;
			cursor: progress;
		}
	}

	.container-header {
		background: @brand-primary;
		color: #fff;
		padding: 10px 20px;
		border-radius: @border-radius-base @border-radius-base 0 0;

		h3 {
			font-weight: 200;
			font-size: 1.5em;
			margin:0;
		}
	}
}

#adminlayoutcontainer {
	margin: 0 20px;
	background: #eee;
	padding: 0 15px;
	box-shadow: @content-box-ds;
}

#headbar {
	background: #fff;
	color: #aaa;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);

	h2 {
		font-weight: 100;
		margin: 0;
		line-height: 48px;
		color: #999;
	}
}
#sidebar {
	@background: #222f40;
	background: @background;

	a {
		color: #b2bbc5;
	}

	> ul { 
		margin: 10px 0 10px 0;
		padding: 0;
	}

	> ul > li {
	
		background: @background;
		.transition(0.2s);
		border-radius: 5px;
		margin: 10px 0;
		position: relative;

		&:hover, &.active {
			.transition(0.2s);
			background: @nav-link-hover-bg;
			border-radius: 5px;
		}
		
		&.active:after {
			content: "\f078";
			display: block;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			position: absolute;
			top: 0;
			right: 20px;
			color: #b2bbc5;
			line-height: 38px;
		}

		a {
			padding: 9px 15px;
			display: block;

			&:hover {
				color: #fff;
				text-decoration:none;
				cursor:pointer;
			}
		}

		ul {
			display: none;
			padding: 0px;
		}
	}
}